 .home {
     /* background-color: #f5f5f5; */
     padding: 100px 0;
     text-align: center;
     height: 150%;
 }

 .home-content {
     max-width: 800px;
     margin: 0 auto;

     h1 {
         font-size: 36px;
         margin-bottom: 20px;
         color: black;

         p {
             font-size: 18px;
             color: #fff;
             margin-bottom: 40px;
         }
     }
 }


 button {
     padding: 12px 24px;
 }

 @media (max-width:768px) {
     h1 {
         font-size: 28px;
     }

     p {
         font-size: 16px;
     }
 }

 .home {
     background-image: url(./pexels-karolina-grabowska-4468010.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 650px;

 }

 .view-course {
     background-image: url(./bg.png);
     background-size: cover;
     background-position: right;
     min-height: 200px;

 }